header {
  position: fixed;
  height: var(--header-height);
  width: 100%;
  box-shadow: 2px 0px 8px 1px #4a708d;
  padding: var(--slide-border-padding);
  font-family: "Alex Brush", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: var(--header-height);
  caret-color: transparent;
}

header nav {
  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: end;
  font-weight: normal;
  font-family: sans-serif;
}

header h1 {
  font-size: clamp(1.5rem, 2vw, 1.5rem);
  font-weight: normal;
  display: flex;
  flex-direction: column;
  width: min-content;
}

header a {
  text-decoration: none;
  color: var(--bs-primary-text-emphasis);
  font-weight: bold;
}

header a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 12px;
  color: var(--color-secondary);
}

header nav li {
  transition: transfrom 0.4s ease;
  width: 25%;
  display: flex;
  justify-content: end;
}

@media (max-width: 576px) {
  :root {
    --header-height: 88px;
  }

  header nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    z-index: 6;
    background: #fff;
    transform-origin: top;
    transform: scaleY(0);
  }

  header .show {
    animation: slideFromDown 0.7s ease forwards;
  }

  header .hide {
    animation: slideFromTop 0.7s ease forwards;
  }

  header ul {
    flex-direction: column;
    gap: 8px;
    font-size: 1.1rem;
    padding: 20px 16px;
  }
}

@media(max-width: 992px){
  header nav li{
    justify-content: end;
  }

  header nav ul{
    justify-content: space-between;
  }
}


@media(max-width: 576px){
  header nav li{
    justify-content: start;
  }
}