header {
  height: var(--header-height);
  width: 100vw;
  box-shadow: var(--bs-box-shadow);
  padding: 20px 100px;
  font-family: "Alex Brush", cursive;
}

h1 {
  font-size: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  width: min-content;
}
