.presentation-section {
  padding: var(--padding-lg);
  height: calc(100dvh - var(--header-height));
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--color-primary);

  h1 {
    font-size: clamp(2rem, 3.5vw, 5rem);
    font-weight: bolder;
    color: var(--color-primary);
    letter-spacing: 3px;
    text-shadow: 0px 0px 1px #000;
  }
}

.presentation-section .presentation-main {
  display: flex;
  width: 100vw;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  position: relative;
  flex: 1;
  z-index: 5;
  caret-color: transparent;
}

.background-container {
  content: "";
  background: url("/hero-background.png") right center / cover no-repeat;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0px 3px 8px #000;
}

.presentation-main .content {
  display: flex;
  gap: 32px;
  align-items: center;
  z-index: 6;
  width: 100vw;
  padding: var(--padding-lg);
  height: 100%;
}

.presentation-main .content:has(.content-information-mobile) {
  align-items: start;
}

.content-information img, .content-information-mobile img{
  transition: transform 0.5s;
  cursor: pointer;
}

.rotate{
  transform: rotateY(360deg);
}

.presentation-footer {
  min-height: 148px;
  width: 100%;
}

.presentation-footer ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  align-items: center;
  padding: 16px 0;
}

.presentation-footer li {
  display: flex;
  justify-content: center;
  gap: 16px;
  height: 100%;
  align-items: center;
  font-weight: bold;
  color: #fff;
  opacity: 1;
}

.section-show .presentation-footer ul li:nth-child(1) {
  animation: slideFromLeft 0.6s ease-in;
  border-right: 1px solid var(--color-light);
}

.section-show .presentation-footer ul li:nth-child(2) {
  animation: slideMiddle 0.6s ease-in;
}

.section-show .presentation-footer ul li:nth-child(3) {
  animation: slideFromRight 0.6s ease-in;
  border-left: 1px solid var(--color-light);
}

.section-hide .presentation-footer ul li {
  opacity: 0;
  transition: opacity 1.5s;
}

.presentation-footer svg {
  color: var(--color-light);
}

@media (max-width: 1440px) {
  .presentation-main .content {
    padding: var(--padding-md);
  }
}

@media (max-width: 768px) {
  .presentation-main .content {
    padding: var(--padding-sm);
  }

  @media (max-width: 576px) {
    .presentation-main .content {
      padding: 0;
    }

    .presentation-footer li {
      padding: 0 8px;
      font-size: 12px;
    }

    .presentation-footer {
      min-height: 120px;
      max-height: 124px;
    }

  }
}
